@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.title {
  text-align: center;
}

.faq {
  max-width: 600px;
  border: 1px solid black;
  margin: 20px 20px 0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.faq-question {
  margin: 15px;
}

.faq-toggle {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 20px;
}

.faq-icon {
  transition: transform 0.5s ease;
}

.faq-answer {
  text-align: justify;
  line-height: 24px;
  margin: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}

.faq-answer-button {
  text-decoration: none;
}

.faq.active .faq-answer {
  max-height: 300px;
}

.faq.active .faq-icon {
  transform: rotate(180deg);
}
